body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-image: url("../public//assets//img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
